@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  font-family: 'Karla', sans-serif;
}
img {
  border: 1px solid black;
  margin: 10px auto;
}
hr {
  margin-top: 0;
}
footer {
  position: absolute;
  top: 95%;
}
.pink {
  color: deeppink;
  width: 5%;
  font-size: 4rem;
  margin: auto;
}

ul {
  text-align: center;
}

ul li {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 40px;
}

li:hover {
  color: deeppink;
}

@media screen and (max-width:400px){
  .page {
    background-color: #ffe6e6;
  }

}

@media only screen and (min-width: 481px) and (max-width: 768px){

}
